USE [saurabh]
GO
/****** Object:  Table [dbo].[sales_store_BKP]    Script Date: 5/24/2026 11:16:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sales_store_BKP](
	[transaction_id] [varchar](15) NULL,
	[customer_id] [varchar](15) NULL,
	[customer_name] [varchar](25) NULL,
	[customer_age] [int] NULL,
	[gender] [varchar](15) NULL,
	[product_id] [varchar](15) NULL,
	[product_name] [varchar](15) NULL,
	[product_category] [varchar](15) NULL,
	[quantiy] [int] NULL,
	[prce] [float] NULL,
	[payment_mode] [varchar](15) NULL,
	[purchase_date] [date] NULL,
	[time_of_purchase] [time](7) NULL,
	[status] [varchar](15) NULL
) ON [PRIMARY]
GO
INSERT [dbo].[sales_store_BKP] ([transaction_id], [customer_id], [customer_name], [customer_age], [gender], [product_id], [product_name], [product_category], [quantiy], [prce], [payment_mode], [purchase_date], [time_of_purchase], [status]) VALUES (N'TXN886726', N'CUST4481', N'Dhanush Bhakta', 41, N'F', N'P8464', N'Sofa', N'Furniture', 5, 21410, N'UPI', CAST(N'2023-08-29' AS Date), CAST(N'08:16:22' AS Time), N'pending')
INSERT [dbo].[sales_store_BKP] ([transaction_id], [customer_id], [customer_name], [customer_age], [gender], [product_id], [product_name], [product_category], [quantiy], [prce], [payment_mode], [purchase_date], [time_of_purchase], [status]) VALUES (N'TXN941069', N'CUST9221', N'Anahita Shenoy', 46, N'F', N'P7932', N'Sunglasses', N'Accessories', 2, 1156, N'Cash', CAST(N'2023-06-04' AS Date), CAST(N'16:24:21' AS Time), N'pending')
INSERT [dbo].[sales_store_BKP] ([transaction_id], [customer_id], [customer_name], [customer_age], [gender], [product_id], [product_name], [product_category], [quantiy], [prce], [payment_mode], [purchase_date], [time_of_purchase], [status]) VALUES (N'TXN132714', N'CUST9088', N'Samaira Bora', 29, N'Female', N'P9223', N'Sunglasses', N'Accessories', 4, 13828, N'UPI', CAST(N'2023-09-16' AS Date), CAST(N'17:36:13' AS Time), N'cancelled')
GO
